[package]
name = "xtask"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
description = "Build tool for rustboot"

[[bin]]
name = "xtask"
path = "src/main.rs"
